* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#container {
    width: 40vw;
    height: 40vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    border: 2px solid black;
}

#container div {
    flex: 0 0 auto;
}

button {
    margin-left: 10vw;
    margin-right: auto;
    margin-bottom: 10px;
    margin: 10px auto 10px 10px;
    padding: 10px;
    background-color: green;
    color: white;
}

@media screen and (max-device-width: 600px) {
    #container {
        width: 95vw;
        height: 95vw;
    }
}