* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#container {
    width: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#container div {
    border: 2px solid black;
    flex: 0 0 auto;
}